@model RoosterSysteem.Models.Education

@{
    ViewBag.Title = "Opleidingen";
}

<h3>@ViewBag.Message</h3>

<html>
<body>
    <style>
        table {
            border-spacing: 0;
            elf width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            text-align: left;
            padding: 17px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }
    </style>

    <table id="Education">
        <tr>
            <th>@Html.LabelFor(m => m.educationName)</th>
            <th>@Html.LabelFor(m => m.linkedFaculty)</th>
            <th>@Html.LabelFor(m => m.courses)</th>
            <th>@Html.LabelFor(m => m.typeEducation)</th>
        </tr>

        <tr>
            <td>@Model.educationName</td>
            <td>@Model.linkedFaculty</td>
            <td>@Model.courses</td>
            <td>@Model.typeEducation</td>
        </tr>
    </table>
    </body>
</html>

