@model RoosterSysteem.Models.UserInfo
@{
    ViewBag.Title = "Mijn gegevens";
}
<h3>@ViewBag.Message</h3>

<html>

<body>

    <style>
        table {
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            text-align: left;
            padding: 17px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }
    </style>
            <table id="myTable">
                <tr>
                    <th>@Html.LabelFor(m => m.FirstName)</th>
                    <th>@Html.LabelFor(m => m.LastName)</th>
                    <th>@Html.LabelFor(m => m.MailAddress)</th>
                    <th>@Html.LabelFor(m => m.Faculty)</th>
                    <th>@Html.LabelFor(m => m.Module)</th>
                    <th>@Html.LabelFor(m => m.AvailableHours)</th>
                </tr>
                <tr>
                    <td>@Model.FirstName</td>
                    <td>@Model.LastName</td>
                    <td>@Model.MailAddress</td>
                    <td>@Model.Faculty</td>
                    <td>@Model.Module</td>
                    <td>@Model.AvailableHours</td>
                </tr>

            </table>
            <input type="submit" onclick="location.href='@Url.Action("EigenGegevensWijzigen", "Home")'" value="Wijzigen" />
    </body>
    </html>

