@{
    ViewBag.Title = "Overzicht";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<html>
<body>
    <br />
        <input type="submit" onclick="location.href='@Url.Action("Classroom", "Home")'" value="Klaslokalen Overzicht" /> <br /> <br /> 
        <input type="submit" onclick="location.href='@Url.Action("Teacher", "Home")'" value="Leraren Overzicht" /> <br /> <br /> 
        <input type="submit" onclick="location.href='@Url.Action("Education", "Home")'" value="Opleidingen Overzicht" /> <br /> <br /> 
    <br />
</body>

</html>